<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= type %> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
    <div class="container">

        <%- include('nav', {title: '', link: ''}) %>
        <% if(type && type === 'login') { %>
        <div class="login-container">
            <form action="/login" method="POST">
                <label>
                    <h1>Hello.</h1>
                    <% include messages %>
                </label>
                <input type="text" name="user[name]" placeholder="username" />
                <input type="password" name="user[password]" placeholder="password" />
                <p>No account? <a href="/signup">Sign up</a></p>
                <button type="submit"><%= type %> </button>
            </form>
        </div>
        <% } %>

        <% if(type && type === 'signup') { %>
        <div class="login-container">
            <form action="/signup" method="POST">
                <label>
                    <h1>Welcome</h1>
                    <% include messages %>
                </label>
                <input type="text" name="user[name]" placeholder="username" />
                <input type="password" name="user[password]" placeholder="password" />
                <input type="password" name="user[password2]" placeholder="password" />
                <p>Aready have an account? <a href="/login">Log in</a></p>
                <button type="submit"><%= type %></button>

            </form>
        </div>
        <% } %>

    </div>


</body>

</html>