p {
    font-size: 60px;
}

.home-container button {
    background-color: #20bf6b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    border-radius: 5px;
    margin: auto;
}

.home-container button a {
    text-decoration: none;

}

.home-container button a:visited {
    color: white;

}

.home-container button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 40px;
    }
}