
nav {
    grid-area: nav;
    box-shadow: 0 0 3px #95a5a6;
    margin: 0;
    background-color: white;
}

nav ul {
    list-style: none;
    
}

nav li {
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;
}

nav .right {
    float: right;
    margin-right: 30px;
}

nav a:hover {
    cursor: pointer;
}

nav a:visited {
    color: black;
}